.Track {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
}

.Track-action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.4rem;
  transition: color .25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.Track-action:hover {
  color: rgba(265, 265, 265, .5);
}

.Track-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.7rem 0;
  height: auto;
}

.Track-information h3 {
  margin-bottom: .22rem;
}

.Track-information p {
  font-size: .83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}

.Track-actions {
  display: flex;
  align-items: center;
}

.Track audio {
  margin: 0 .8rem;
  width: 14rem;
  height: 2rem;
}

@media only screen and (max-width: 1020px) {
  .Track {
    flex-wrap: wrap;
  }

  .Track-information {
    margin: 1.2rem 0;
  }

  .Track-actions {
    margin-bottom: .5rem;
  }

  .Track audio {
    width: 10rem;
    height: 1.5rem;
  }
}